<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/admin/js/jquery.js"></script>
    <link rel="stylesheet" href="../../static/admin/css/bootstrap.min.css">
    <script src="../../static/admin/js/bootstrap.js"></script>
</head>
<body>
<div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">
        &times;
    </a>
    <strong>警告！</strong>您的网络连接有问题。
</div>
<button class="btn btn-default" disabled>已启用</button>
</body>
</html>