<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello-admin CopyRight by glkj</title>
    <link rel="stylesheet" href="../../static/admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/admin/css/admin.css">
    <script src="../../static/admin/js/jquery.min.js"></script>
    <script src="../../static/admin/js/admin.js"></script>
    <script src="../../static/admin/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/admin/css/iconfont.css">
</head>
<body scroll="no">
<div>
    <header class="header row">
        <div class="col-md-2">
            <h4 class="text-center">HELLO-ADMIN</h4>
        </div>
        <div class="col-md-1">
            <a class="menu-control"><span class="glyphicon glyphicon-th-list"></span></a>
        </div>
        <div class="col-md-offset-7 col-md-2">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <text>admin</text>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="min-width: unset">
                <li><a href="#">账号信息</a></li>
                <li><a href="#">修改密码</a></li>
                <li><a href="#">切换账号</a></li>
                <li><a href="#">退出登录</a></li>
            </ul>
            <a href="" style="margin-left: 10px" class="user-home">前台首页</a>
        </div>
    </header>
    <div class="center">
        <aside class="menu" id="menu">
            <ul class="menu-tree" >

            </ul>
        </aside>
        <main class="main">
            <div class="container-fluid">
                <ul class="nav nav-tabs menu-bar">
                    <li role="presentation" class="active">
                        <a href="user-list.html">
                            <text>我的桌面</text>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="4.html">
                            <text>测试菜单4</text>
                            <span class="iconfont icon-close"></span>
                        </a>
                    </li>
                </ul>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive frame-setHigh" id="frame-context">
                    <iframe class="embed-responsive-item" src="user-list.html" id="show"></iframe>
                </div>
            </div>
        </main>
    </div>
    <footer class="footer text-center">
        <div class="row">
            <div class="col-md-6">
                COPYRIGHT © 2020 XGL. ALL RIGHTS RESERVED. 贵龙科技
            </div>
            <div class="col-md-6">
                ICP网备：<a data-v-48f9405b="" href="http://www.beian.miit.gov.cn/" style="color: white;">渝ICP备18014747号</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>