.top{
	width: 100%;
	height: 80px;
}
.top-nav ul li {
	display: block;
}
.top-nav ul li a{
	font-size: 16px;
}

.carousel{
	top:3rem;
	margin-bottom: 5rem;
}
.index{
	text-align: center;
	letter-spacing: 1px;
}

.index-h2{
	color: #5900b2;
	font-size: calc(1rem + 1vw);
}
.index-p{
	color: #999;
	font-size: calc(0.7rem + 0.8vw);
}
.tab5{
	background-color: #E7E7E7;
}
.index-content h5{
	font-size: calc(1.2rem + 0.1vw);
}
.index-content p{
	font-size: calc(0.9rem + 0.1vw);
}
.tab5  h3,.tab6 h3{
	font-size: calc(1rem + 1vw);
}
.tab5 p, .tab6 p{
	font-size: calc(0.9rem + 0.1vw);
}
@media only screen and (min-width: 768px) and (max-width: 911px) {
	.index-content{
		width: 85% !important;
		margin: 0 auto;
	}
	.tab5 img{
		width: 75% !important;
	}
	.tab6 img{
		width: 100% !important;
	}
}